// homepage custom designed components
.homepage_date {
	background-color: #efeff4;
	color: rgb(109, 109, 109);
	font-size: 12px;
	line-height: 15px;
}

ons-col {
	font-size: 20px !important;
	line-height: 36px;
}